<div class="jumbotron jumbotron-fluid jumbotron-cover hero" style="background-image: url({{ section.settings.image | img_url: 'master', format: 'pjpg'}});">
  <h1 class="display-3 mb-5">{{ section.settings.title | escape }}</h1>
  <a class="btn btn-primary btn-lg" href="{{ section.settings.href }}">{{ section.settings.label | escape }}</a>
</div>
{% schema %}
{
  "name": "Hero Image",
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Hero Image"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "label",
      "type": "text",
      "label": "Button Text"
    },
    {
      "id": "href",
      "type": "url",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Hero image",
      "category": "Images"
    }
  ]
}
{% endschema %}